<div class="block--accordian">
  <section class="ac-container">
    <input id="ac-1" type="checkbox" />
    <label for="ac-1">{{globals.title}} 1
      <i class="fa fa-chevron-down"></i>
    </label>
    <article>
      <p>{{globals.paragraph-long}}</p>
      <p>{{globals.paragraph-long}}</p>
    </article>
  </section>
  <section class="ac-container">
    <input id="ac-2" type="checkbox" />
    <label for="ac-2">{{globals.title}} 2
      <i class="fa fa-chevron-down"></i>
    </label>
    <article>
      <p>{{globals.paragraph-long}}</p>
      <p>{{globals.paragraph-long}}</p>
    </article>
  </section>
  <section class="ac-container">
    <input id="ac-3" type="checkbox" />
    <label for="ac-3">{{globals.title}} 3
      <i class="fa fa-chevron-down"></i>
    </label>
    <article>
      <p>{{globals.paragraph-long}}</p>
      <p>{{globals.paragraph-long}}</p>
    </article>
  </section>
</div>